.luz.on{
  color: #FFFFFF;/*color del texto al cambiar*/
  text-shadow:
     1px  1px rgba(255, 255, 255, .1),
    -1px -1px rgba(0, 0, 0, .0),
     0px  0px 10px #FFFFFF;/*color de la luz del texto*/
}
.luz{
  font-size:13px;/*tamaño de la fuente*/
  color: #B9B9B9;
  text-shadow:
     1px  1px rgba(255, 255, 255, .1),
    -1px -1px rgba(0, 0, 0, .0);
}